USE [master]
GO
/****** Object:  Database [STORE_TELEVISION]    Script Date: 12/2/2020 11:20:24 AM ******/
CREATE DATABASE [STORE_TELEVISION]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'STORE_TELEVISION', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.KHUATCHUNG\MSSQL\DATA\STORE_TELEVISION.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'STORE_TELEVISION_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.KHUATCHUNG\MSSQL\DATA\STORE_TELEVISION_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [STORE_TELEVISION].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [STORE_TELEVISION]
GO
/****** Object:  Table [dbo].[BILL_EXPORT]    Script Date: 12/2/2020 11:20:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL_EXPORT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_ID] [int] NULL,
	[CUSTOMER_ID] [int] NULL,
	[TAX] [decimal](10, 4) NULL,
	[CREATED_DATE] [datetime] NULL,
	[TOTAL] [decimal](19, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BILL_EXPORT_DETAIL]    Script Date: 12/2/2020 11:20:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL_EXPORT_DETAIL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BE_ID] [int] NULL,
	[PRODUCT_ID] [int] NULL,
	[STOCK] [int] NULL,
	[SALE] [decimal](10, 4) NULL,
	[TOTAL] [decimal](19, 4) NULL,
 CONSTRAINT [PK__BILL_EXP__3214EC275F6C7358] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BILL_IMPORT]    Script Date: 12/2/2020 11:20:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL_IMPORT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_ID] [int] NULL,
	[SUPPLIER_ID] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
	[TOTAL] [decimal](19, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BILL_IMPORT_DETAIL]    Script Date: 12/2/2020 11:20:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL_IMPORT_DETAIL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BI_ID] [int] NULL,
	[PRODUCT_ID] [int] NULL,
	[STOCK] [int] NULL,
	[UNIT_PRICE] [decimal](19, 4) NULL,
	[SALE] [decimal](10, 4) NULL,
	[TOTAL] [decimal](19, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BRAND]    Script Date: 12/2/2020 11:20:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRAND](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](100) NULL,
	[NAME] [nvarchar](300) NULL,
	[STATUS] [bit] NULL,
 CONSTRAINT [PK__BRAND__3214EC2722AC82FB] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COLOR]    Script Date: 12/2/2020 11:20:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLOR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](100) NULL,
	[NAME] [nvarchar](300) NULL,
	[STATUS] [bit] NULL,
 CONSTRAINT [PK__COLOR__3214EC275B2C1BA3] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COUNTRY]    Script Date: 12/2/2020 11:20:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COUNTRY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](100) NULL,
	[NAME] [nvarchar](300) NULL,
	[STATUS] [bit] NULL,
 CONSTRAINT [PK__COUNTRY__3214EC27D49EB487] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 12/2/2020 11:20:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](300) NULL,
	[GENDER] [bit] NULL,
	[PHONE] [nvarchar](12) NULL,
	[EMAIL] [nvarchar](100) NULL,
	[ADDRESS] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DESIGN]    Script Date: 12/2/2020 11:20:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DESIGN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](100) NULL,
	[NAME] [nvarchar](300) NULL,
	[STATUS] [bit] NULL,
 CONSTRAINT [PK__DESIGN__3214EC271B5B783F] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 12/2/2020 11:20:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](100) NULL,
	[NAME] [nvarchar](300) NULL,
	[GENDER] [bit] NULL,
	[DOB] [datetime] NULL,
	[PHONE] [nvarchar](12) NULL,
	[EMAIL] [nvarchar](100) NULL,
	[ADDRESS] [nvarchar](500) NULL,
	[START_TIME] [datetime] NULL,
	[SHIFT_ID] [int] NULL,
	[WORK_ID] [int] NULL,
 CONSTRAINT [PK__EMPLOYEE__3214EC2717EF34B1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 12/2/2020 11:20:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](100) NULL,
	[NAME] [nvarchar](300) NULL,
	[IMAGE] [nvarchar](max) NULL,
	[DESCRIPTION] [nvarchar](500) NULL,
	[BRAND_ID] [int] NULL,
	[DESIGN_ID] [int] NULL,
	[COLOR_ID] [int] NULL,
	[SCREEN_ID] [int] NULL,
	[SIZE_ID] [int] NULL,
	[COUNTRY_ID] [int] NULL,
	[STOCK] [int] NULL,
	[IMPORT_PRICE] [decimal](19, 4) NULL,
	[PRICE] [decimal](19, 4) NULL,
	[WARRANTY_TIME] [nvarchar](500) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[STATUS] [bit] NULL,
 CONSTRAINT [PK__PRODUCT__3214EC2782622EE6] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SCREEN]    Script Date: 12/2/2020 11:20:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCREEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](100) NULL,
	[NAME] [nvarchar](300) NULL,
	[STATUS] [bit] NULL,
 CONSTRAINT [PK__SCREEN__3214EC27CD84964F] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SHIFT]    Script Date: 12/2/2020 11:20:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHIFT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](100) NULL,
	[NAME] [nvarchar](300) NULL,
	[STATUS] [bit] NULL,
 CONSTRAINT [PK__SHIFT__3214EC2705E2B972] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIZE]    Script Date: 12/2/2020 11:20:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIZE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](100) NULL,
	[NAME] [nvarchar](300) NULL,
	[STATUS] [bit] NULL,
 CONSTRAINT [PK__SIZE__3214EC27B74C93D9] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUPPLIER]    Script Date: 12/2/2020 11:20:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPLIER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](100) NULL,
	[NAME] [nvarchar](300) NULL,
	[PHONE] [nvarchar](12) NULL,
	[EMAIL] [nvarchar](100) NULL,
	[ADDRESS] [nvarchar](500) NULL,
	[STATUS] [bit] NULL,
 CONSTRAINT [PK__SUPPLIER__3214EC274D9720CD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORK]    Script Date: 12/2/2020 11:20:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](100) NULL,
	[NAME] [nvarchar](300) NULL,
	[STATUS] [bit] NULL,
 CONSTRAINT [PK__WORK__3214EC2739078EFB] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BILL_EXPORT] ON 

INSERT [dbo].[BILL_EXPORT] ([ID], [EMPLOYEE_ID], [CUSTOMER_ID], [TAX], [CREATED_DATE], [TOTAL]) VALUES (1, 2, 1, CAST(0.0000 AS Decimal(10, 4)), CAST(N'2020-12-02T11:17:08.000' AS DateTime), CAST(330110000.0000 AS Decimal(19, 4)))
INSERT [dbo].[BILL_EXPORT] ([ID], [EMPLOYEE_ID], [CUSTOMER_ID], [TAX], [CREATED_DATE], [TOTAL]) VALUES (2, 3, 10, CAST(0.0000 AS Decimal(10, 4)), CAST(N'2020-12-02T11:17:12.000' AS DateTime), CAST(330110000.0000 AS Decimal(19, 4)))
INSERT [dbo].[BILL_EXPORT] ([ID], [EMPLOYEE_ID], [CUSTOMER_ID], [TAX], [CREATED_DATE], [TOTAL]) VALUES (3, 4, 11, CAST(0.0000 AS Decimal(10, 4)), CAST(N'2020-12-02T11:17:14.000' AS DateTime), CAST(330110000.0000 AS Decimal(19, 4)))
SET IDENTITY_INSERT [dbo].[BILL_EXPORT] OFF
GO
SET IDENTITY_INSERT [dbo].[BILL_EXPORT_DETAIL] ON 

INSERT [dbo].[BILL_EXPORT_DETAIL] ([ID], [BE_ID], [PRODUCT_ID], [STOCK], [SALE], [TOTAL]) VALUES (1, 1, 1, 1, CAST(0.0000 AS Decimal(10, 4)), CAST(110000000.0000 AS Decimal(19, 4)))
INSERT [dbo].[BILL_EXPORT_DETAIL] ([ID], [BE_ID], [PRODUCT_ID], [STOCK], [SALE], [TOTAL]) VALUES (2, 1, 2, 1, CAST(0.0000 AS Decimal(10, 4)), CAST(110000000.0000 AS Decimal(19, 4)))
INSERT [dbo].[BILL_EXPORT_DETAIL] ([ID], [BE_ID], [PRODUCT_ID], [STOCK], [SALE], [TOTAL]) VALUES (3, 1, 3, 1, CAST(0.0000 AS Decimal(10, 4)), CAST(110000000.0000 AS Decimal(19, 4)))
SET IDENTITY_INSERT [dbo].[BILL_EXPORT_DETAIL] OFF
GO
SET IDENTITY_INSERT [dbo].[BILL_IMPORT] ON 

INSERT [dbo].[BILL_IMPORT] ([ID], [EMPLOYEE_ID], [SUPPLIER_ID], [CREATED_DATE], [TOTAL]) VALUES (1, 2, 16, CAST(N'2020-12-02T11:16:13.000' AS DateTime), CAST(50000000.0000 AS Decimal(19, 4)))
INSERT [dbo].[BILL_IMPORT] ([ID], [EMPLOYEE_ID], [SUPPLIER_ID], [CREATED_DATE], [TOTAL]) VALUES (2, 3, 17, CAST(N'2020-12-02T11:16:19.000' AS DateTime), CAST(50000000.0000 AS Decimal(19, 4)))
INSERT [dbo].[BILL_IMPORT] ([ID], [EMPLOYEE_ID], [SUPPLIER_ID], [CREATED_DATE], [TOTAL]) VALUES (3, 4, 21, CAST(N'2020-12-02T11:16:22.000' AS DateTime), CAST(50000000.0000 AS Decimal(19, 4)))
SET IDENTITY_INSERT [dbo].[BILL_IMPORT] OFF
GO
SET IDENTITY_INSERT [dbo].[BILL_IMPORT_DETAIL] ON 

INSERT [dbo].[BILL_IMPORT_DETAIL] ([ID], [BI_ID], [PRODUCT_ID], [STOCK], [UNIT_PRICE], [SALE], [TOTAL]) VALUES (1, 1, 4, 100, CAST(100000.0000 AS Decimal(19, 4)), CAST(0.0000 AS Decimal(10, 4)), CAST(10000000.0000 AS Decimal(19, 4)))
INSERT [dbo].[BILL_IMPORT_DETAIL] ([ID], [BI_ID], [PRODUCT_ID], [STOCK], [UNIT_PRICE], [SALE], [TOTAL]) VALUES (2, 1, 5, 100, CAST(100000.0000 AS Decimal(19, 4)), CAST(0.0000 AS Decimal(10, 4)), CAST(10000000.0000 AS Decimal(19, 4)))
INSERT [dbo].[BILL_IMPORT_DETAIL] ([ID], [BI_ID], [PRODUCT_ID], [STOCK], [UNIT_PRICE], [SALE], [TOTAL]) VALUES (3, 1, 6, 100, CAST(100000.0000 AS Decimal(19, 4)), CAST(0.0000 AS Decimal(10, 4)), CAST(10000000.0000 AS Decimal(19, 4)))
SET IDENTITY_INSERT [dbo].[BILL_IMPORT_DETAIL] OFF
GO
SET IDENTITY_INSERT [dbo].[BRAND] ON 

INSERT [dbo].[BRAND] ([ID], [CODE], [NAME], [STATUS]) VALUES (1, N'Sám', N'SamSung', 1)
INSERT [dbo].[BRAND] ([ID], [CODE], [NAME], [STATUS]) VALUES (3, N'Mi', N'Xiaomi', 1)
INSERT [dbo].[BRAND] ([ID], [CODE], [NAME], [STATUS]) VALUES (4, N'App', N'Apple', 1)
SET IDENTITY_INSERT [dbo].[BRAND] OFF
GO
SET IDENTITY_INSERT [dbo].[COLOR] ON 

INSERT [dbo].[COLOR] ([ID], [CODE], [NAME], [STATUS]) VALUES (9, N'#000', N'Đen', 1)
INSERT [dbo].[COLOR] ([ID], [CODE], [NAME], [STATUS]) VALUES (10, N'#fff', N'Trắng', 1)
INSERT [dbo].[COLOR] ([ID], [CODE], [NAME], [STATUS]) VALUES (11, N'#xamm', N'Xám', 1)
SET IDENTITY_INSERT [dbo].[COLOR] OFF
GO
SET IDENTITY_INSERT [dbo].[COUNTRY] ON 

INSERT [dbo].[COUNTRY] ([ID], [CODE], [NAME], [STATUS]) VALUES (2, N'Vn', N'Việt Nam', 1)
INSERT [dbo].[COUNTRY] ([ID], [CODE], [NAME], [STATUS]) VALUES (3, N'Us', N'America', 1)
INSERT [dbo].[COUNTRY] ([ID], [CODE], [NAME], [STATUS]) VALUES (4, N'En', N'England', 1)
SET IDENTITY_INSERT [dbo].[COUNTRY] OFF
GO
SET IDENTITY_INSERT [dbo].[CUSTOMER] ON 

INSERT [dbo].[CUSTOMER] ([ID], [NAME], [GENDER], [PHONE], [EMAIL], [ADDRESS]) VALUES (1, N'Khuất Văn Chung', 1, N'0962165244', N'khuatchung1012@gmai.com', N'Hà Nội')
INSERT [dbo].[CUSTOMER] ([ID], [NAME], [GENDER], [PHONE], [EMAIL], [ADDRESS]) VALUES (10, N'Nguyễn Huy Sơn', 1, N'00999999999', N'son1012@gmail.com', N'Hà Nội')
INSERT [dbo].[CUSTOMER] ([ID], [NAME], [GENDER], [PHONE], [EMAIL], [ADDRESS]) VALUES (11, N'Nguyễn Đức Dương', 1, N'0965213423', N'NguyenDucDuong@gmail.com', N'Vĩnh Phúc')
SET IDENTITY_INSERT [dbo].[CUSTOMER] OFF
GO
SET IDENTITY_INSERT [dbo].[DESIGN] ON 

INSERT [dbo].[DESIGN] ([ID], [CODE], [NAME], [STATUS]) VALUES (1, N'1', N'Tròn', 1)
INSERT [dbo].[DESIGN] ([ID], [CODE], [NAME], [STATUS]) VALUES (3, N'2', N'Vuông', 1)
INSERT [dbo].[DESIGN] ([ID], [CODE], [NAME], [STATUS]) VALUES (4, N'3', N'Hình Chữ nhật', 1)
SET IDENTITY_INSERT [dbo].[DESIGN] OFF
GO
SET IDENTITY_INSERT [dbo].[EMPLOYEE] ON 

INSERT [dbo].[EMPLOYEE] ([ID], [CODE], [NAME], [GENDER], [DOB], [PHONE], [EMAIL], [ADDRESS], [START_TIME], [SHIFT_ID], [WORK_ID]) VALUES (2, N'1012', N'Khuất Văn Chung', 1, CAST(N'2000-12-30T00:00:00.000' AS DateTime), N'0962165244', N'khuatchung1012@gmail.com', N'Hà Nội', NULL, 4, 12)
INSERT [dbo].[EMPLOYEE] ([ID], [CODE], [NAME], [GENDER], [DOB], [PHONE], [EMAIL], [ADDRESS], [START_TIME], [SHIFT_ID], [WORK_ID]) VALUES (3, N'1013', N'Vũ ngọc hiếu', 1, CAST(N'2020-12-02T00:00:00.000' AS DateTime), N'09822323324', N'hieu@gmail.com', N'Nam định', NULL, 1, 2)
INSERT [dbo].[EMPLOYEE] ([ID], [CODE], [NAME], [GENDER], [DOB], [PHONE], [EMAIL], [ADDRESS], [START_TIME], [SHIFT_ID], [WORK_ID]) VALUES (4, N'1014', N'Vũ mai hồng', 1, CAST(N'2020-12-02T00:00:00.000' AS DateTime), N'09822323324', N'hieu@gmail.com', N'Nam định', NULL, 1, 2)
SET IDENTITY_INSERT [dbo].[EMPLOYEE] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCT] ON 

INSERT [dbo].[PRODUCT] ([ID], [CODE], [NAME], [IMAGE], [DESCRIPTION], [BRAND_ID], [DESIGN_ID], [COLOR_ID], [SCREEN_ID], [SIZE_ID], [COUNTRY_ID], [STOCK], [IMPORT_PRICE], [PRICE], [WARRANTY_TIME], [UPDATE_DATE], [STATUS]) VALUES (1, N'sp01', N'Chung', N'Content\Image\ms-icon-310x310.png', NULL, 3, 3, 10, 14, 3, 2, -19, CAST(100000000.0000 AS Decimal(19, 4)), CAST(110000000.0000 AS Decimal(19, 4)), N'3 tháng', NULL, NULL)
INSERT [dbo].[PRODUCT] ([ID], [CODE], [NAME], [IMAGE], [DESCRIPTION], [BRAND_ID], [DESIGN_ID], [COLOR_ID], [SCREEN_ID], [SIZE_ID], [COUNTRY_ID], [STOCK], [IMPORT_PRICE], [PRICE], [WARRANTY_TIME], [UPDATE_DATE], [STATUS]) VALUES (2, N'sp02', N'Samsung 40', N'Content\Image\ms-icon-310x310.png', NULL, 1, 4, 11, 14, 4, 2, -20, CAST(100000000.0000 AS Decimal(19, 4)), CAST(110000000.0000 AS Decimal(19, 4)), N'3 tháng', NULL, NULL)
INSERT [dbo].[PRODUCT] ([ID], [CODE], [NAME], [IMAGE], [DESCRIPTION], [BRAND_ID], [DESIGN_ID], [COLOR_ID], [SCREEN_ID], [SIZE_ID], [COUNTRY_ID], [STOCK], [IMPORT_PRICE], [PRICE], [WARRANTY_TIME], [UPDATE_DATE], [STATUS]) VALUES (3, N'sp03', N'Samsung 60', N'Content\Image\ms-icon-310x310.png', NULL, 1, 4, 11, 14, 4, 2, -20, CAST(100000000.0000 AS Decimal(19, 4)), CAST(110000000.0000 AS Decimal(19, 4)), N'3 tháng', NULL, NULL)
SET IDENTITY_INSERT [dbo].[PRODUCT] OFF
GO
SET IDENTITY_INSERT [dbo].[SCREEN] ON 

INSERT [dbo].[SCREEN] ([ID], [CODE], [NAME], [STATUS]) VALUES (13, N'IPS', N'IPS', 1)
INSERT [dbo].[SCREEN] ([ID], [CODE], [NAME], [STATUS]) VALUES (14, N'AML', N'AMOLED', 1)
INSERT [dbo].[SCREEN] ([ID], [CODE], [NAME], [STATUS]) VALUES (15, N'OLD', N'OLED', 1)
SET IDENTITY_INSERT [dbo].[SCREEN] OFF
GO
SET IDENTITY_INSERT [dbo].[SHIFT] ON 

INSERT [dbo].[SHIFT] ([ID], [CODE], [NAME], [STATUS]) VALUES (1, N'1', N'Ca 1', 1)
INSERT [dbo].[SHIFT] ([ID], [CODE], [NAME], [STATUS]) VALUES (2, N'2', N'Ca 2', 1)
INSERT [dbo].[SHIFT] ([ID], [CODE], [NAME], [STATUS]) VALUES (3, N'3', N'Ca 3', 1)
SET IDENTITY_INSERT [dbo].[SHIFT] OFF
GO
SET IDENTITY_INSERT [dbo].[SIZE] ON 

INSERT [dbo].[SIZE] ([ID], [CODE], [NAME], [STATUS]) VALUES (2, N'S39', N'39', 1)
INSERT [dbo].[SIZE] ([ID], [CODE], [NAME], [STATUS]) VALUES (3, N'S40', N'40', 1)
INSERT [dbo].[SIZE] ([ID], [CODE], [NAME], [STATUS]) VALUES (4, N'S60', N'60', 1)
SET IDENTITY_INSERT [dbo].[SIZE] OFF
GO
SET IDENTITY_INSERT [dbo].[SUPPLIER] ON 

INSERT [dbo].[SUPPLIER] ([ID], [CODE], [NAME], [PHONE], [EMAIL], [ADDRESS], [STATUS]) VALUES (16, N'MobieCity', N'MobieCity', N'0962.165244', N'khuatchung1012@gmail.com', N'Hà nội', 1)
INSERT [dbo].[SUPPLIER] ([ID], [CODE], [NAME], [PHONE], [EMAIL], [ADDRESS], [STATUS]) VALUES (17, N'Cell', N'CellPhoneS', N'0962165244', N'chung@gmail.com', N'Hà Nội', 1)
INSERT [dbo].[SUPPLIER] ([ID], [CODE], [NAME], [PHONE], [EMAIL], [ADDRESS], [STATUS]) VALUES (21, N'FPT', N'FPT ', N'0962165244', N'khuatchung1012@gmail.com', N'Ha Noi', 1)
SET IDENTITY_INSERT [dbo].[SUPPLIER] OFF
GO
SET IDENTITY_INSERT [dbo].[WORK] ON 

INSERT [dbo].[WORK] ([ID], [CODE], [NAME], [STATUS]) VALUES (1, N'NV', N'Nhân Viên', 1)
INSERT [dbo].[WORK] ([ID], [CODE], [NAME], [STATUS]) VALUES (2, N'QL', N'Quản Lý', 1)
INSERT [dbo].[WORK] ([ID], [CODE], [NAME], [STATUS]) VALUES (3, N'TT', N'Thực tập', 1)
SET IDENTITY_INSERT [dbo].[WORK] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__BRAND__AA1D4379B339B411]    Script Date: 12/2/2020 11:20:25 AM ******/
ALTER TABLE [dbo].[BRAND] ADD UNIQUE NONCLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__COLOR__AA1D4379500F47B2]    Script Date: 12/2/2020 11:20:25 AM ******/
ALTER TABLE [dbo].[COLOR] ADD UNIQUE NONCLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__COUNTRY__AA1D4379C9818E4C]    Script Date: 12/2/2020 11:20:25 AM ******/
ALTER TABLE [dbo].[COUNTRY] ADD UNIQUE NONCLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DESIGN__AA1D43798E9A9B80]    Script Date: 12/2/2020 11:20:25 AM ******/
ALTER TABLE [dbo].[DESIGN] ADD  CONSTRAINT [UQ__DESIGN__AA1D43798E9A9B80] UNIQUE NONCLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EMPLOYEE__AA1D4379D887CA74]    Script Date: 12/2/2020 11:20:25 AM ******/
ALTER TABLE [dbo].[EMPLOYEE] ADD UNIQUE NONCLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PRODUCT__AA1D43796758EDF1]    Script Date: 12/2/2020 11:20:25 AM ******/
ALTER TABLE [dbo].[PRODUCT] ADD  CONSTRAINT [UQ__PRODUCT__AA1D43796758EDF1] UNIQUE NONCLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SCREEN__AA1D4379B5FA89BA]    Script Date: 12/2/2020 11:20:25 AM ******/
ALTER TABLE [dbo].[SCREEN] ADD UNIQUE NONCLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SCREEN__AA1D4379C1958092]    Script Date: 12/2/2020 11:20:25 AM ******/
ALTER TABLE [dbo].[SCREEN] ADD UNIQUE NONCLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SCREEN__AA1D4379E5129095]    Script Date: 12/2/2020 11:20:25 AM ******/
ALTER TABLE [dbo].[SCREEN] ADD UNIQUE NONCLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SHIFT__AA1D437938CAE72A]    Script Date: 12/2/2020 11:20:25 AM ******/
ALTER TABLE [dbo].[SHIFT] ADD UNIQUE NONCLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SIZE__AA1D43796B67EEB1]    Script Date: 12/2/2020 11:20:25 AM ******/
ALTER TABLE [dbo].[SIZE] ADD UNIQUE NONCLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SIZE__AA1D4379FDBEB986]    Script Date: 12/2/2020 11:20:25 AM ******/
ALTER TABLE [dbo].[SIZE] ADD UNIQUE NONCLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SUPPLIER__AA1D4379C58BE329]    Script Date: 12/2/2020 11:20:25 AM ******/
ALTER TABLE [dbo].[SUPPLIER] ADD UNIQUE NONCLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__WORK__AA1D4379303C3CD3]    Script Date: 12/2/2020 11:20:25 AM ******/
ALTER TABLE [dbo].[WORK] ADD UNIQUE NONCLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[NewDeleteCommand]    Script Date: 12/2/2020 11:20:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[NewDeleteCommand]
(
	@Original_ID int,
	@IsNull_NAME Int,
	@Original_NAME nvarchar(300),
	@IsNull_GENDER Int,
	@Original_GENDER bit,
	@IsNull_PHONE Int,
	@Original_PHONE nvarchar(12),
	@IsNull_EMAIL Int,
	@Original_EMAIL nvarchar(100),
	@IsNull_ADDRESS Int,
	@Original_ADDRESS nvarchar(500)
)
AS
	SET NOCOUNT OFF;
DELETE FROM [Customer] WHERE (([ID] = @Original_ID) AND ((@IsNull_NAME = 1 AND [NAME] IS NULL) OR ([NAME] = @Original_NAME)) AND ((@IsNull_GENDER = 1 AND [GENDER] IS NULL) OR ([GENDER] = @Original_GENDER)) AND ((@IsNull_PHONE = 1 AND [PHONE] IS NULL) OR ([PHONE] = @Original_PHONE)) AND ((@IsNull_EMAIL = 1 AND [EMAIL] IS NULL) OR ([EMAIL] = @Original_EMAIL)) AND ((@IsNull_ADDRESS = 1 AND [ADDRESS] IS NULL) OR ([ADDRESS] = @Original_ADDRESS)))
GO
/****** Object:  StoredProcedure [dbo].[NewInsertCommand]    Script Date: 12/2/2020 11:20:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[NewInsertCommand]
(
	@NAME nvarchar(300),
	@GENDER bit,
	@PHONE nvarchar(12),
	@EMAIL nvarchar(100),
	@ADDRESS nvarchar(500)
)
AS
	SET NOCOUNT OFF;
INSERT INTO [Customer] ([NAME], [GENDER], [PHONE], [EMAIL], [ADDRESS]) VALUES (@NAME, @GENDER, @PHONE, @EMAIL, @ADDRESS);
	
SELECT ID, NAME, GENDER, PHONE, EMAIL, ADDRESS FROM CUSTOMER WHERE (ID = SCOPE_IDENTITY())
GO
/****** Object:  StoredProcedure [dbo].[NewSelectCommand]    Script Date: 12/2/2020 11:20:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[NewSelectCommand]
AS
	SET NOCOUNT ON;
select * from Customer
GO
/****** Object:  StoredProcedure [dbo].[NewUpdateCommand]    Script Date: 12/2/2020 11:20:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[NewUpdateCommand]
(
	@NAME nvarchar(300),
	@GENDER bit,
	@PHONE nvarchar(12),
	@EMAIL nvarchar(100),
	@ADDRESS nvarchar(500),
	@Original_ID int,
	@IsNull_NAME Int,
	@Original_NAME nvarchar(300),
	@IsNull_GENDER Int,
	@Original_GENDER bit,
	@IsNull_PHONE Int,
	@Original_PHONE nvarchar(12),
	@IsNull_EMAIL Int,
	@Original_EMAIL nvarchar(100),
	@IsNull_ADDRESS Int,
	@Original_ADDRESS nvarchar(500),
	@ID int
)
AS
	SET NOCOUNT OFF;
UPDATE [Customer] SET [NAME] = @NAME, [GENDER] = @GENDER, [PHONE] = @PHONE, [EMAIL] = @EMAIL, [ADDRESS] = @ADDRESS WHERE (([ID] = @Original_ID) AND ((@IsNull_NAME = 1 AND [NAME] IS NULL) OR ([NAME] = @Original_NAME)) AND ((@IsNull_GENDER = 1 AND [GENDER] IS NULL) OR ([GENDER] = @Original_GENDER)) AND ((@IsNull_PHONE = 1 AND [PHONE] IS NULL) OR ([PHONE] = @Original_PHONE)) AND ((@IsNull_EMAIL = 1 AND [EMAIL] IS NULL) OR ([EMAIL] = @Original_EMAIL)) AND ((@IsNull_ADDRESS = 1 AND [ADDRESS] IS NULL) OR ([ADDRESS] = @Original_ADDRESS)));
	
SELECT ID, NAME, GENDER, PHONE, EMAIL, ADDRESS FROM CUSTOMER WHERE (ID = @ID)
GO
USE [master]
GO
